<!DOCTYPE html>
<!-- 
Project Name: CST-339 Milestone Project
Version: 1.1
Module name: Basic Template
Module version: 1.0
Authors: Gabriel Cepleanu
Synopsis: This module provides the basic Thymeleaf template for the application web pages.
 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<style>
			* {
				font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			}
			html body {
				padding-top: 80px;
				padding-bottom: 40px;
			}
		</style>
	</head>

	<body>
		<div align="center">
			<div th:replace="layouts/mainHeader :: header">Header</div>
			
			<section layout:fragment="content">Content</section>
			
			<div th:replace="layouts/mainFooter :: footer">Footer</div>
		</div>
	</body>
</html>